.learn{
  margin-top: 40px;
  &__title{
    font-family: 'Inter-Bold', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    height: 35px;
    margin-bottom: 16px;
  }
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 190px;
  min-height: 190px;
  margin-bottom: 30px;
  background-color: #FFF;
  border-radius: 24px;
  margin-right: 20px;
  &__content{
    margin: 0 auto;
  }
  &__title{
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 20px;
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 80px;
    margin: 8px 0px 16px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165px;
  }
  &__box-img{
    position: relative;
    width: 84px;
  }
  &__box-btn{
    height: 16px;
    width: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.info{
  &__timing{
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #808191;
  }
  &__count{
    font-family: 'OpenSans-Regular', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.box-img{
  &__item {
    height: 24px;
    width: 24px;
  }
  &__item:nth-child(2){
    position: absolute;
    left: 12px;
  }
  &__item:nth-child(3){
    position: absolute;
    left: 24px;
  }
  &__item:nth-child(4){
    position: absolute;
    left: 36px;
  }
  &__item:nth-child(5){
    position: absolute;
    left: 48px;
  }
  &__item:nth-child(6){
    position: absolute;
    left: 60px;
  }
}

.box-btn{
  &__star{
    background-color: transparent;
    border: none;
    height: 16px;
    width: 16px;
    background-image: url('../images/card-star.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__dots{
    background-color: transparent;
    border: none;
    height: 5px;
    width: 13px;
    background-image: url('../images/card-dots.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}