.wrapper{
  &--menu{
    width: 200px;
    left: -200px;
  }
}

.menu-box{
  position: relative;
  &__btn {
    height: 40px;
    width: 40px;
    background-color: transparent;
    position: absolute;
    right: -40px;
    top: 0;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    border: none;
    border-radius: 50%;
    text-align: center;
  }
}

.user{
  &__image{
    height: 30px;
    width: 30px;
    // justify-content: space-around;
  }
  &__text{
    width: 100px;
  }
  &__name{
    font-size: 14px;
    line-height: 15px;
  }
  &__status{
    font-size: 11px;
    line-height: 15px;
  }
}

.slider{
  width: 200px;
  height: 150px;
  &__wrapper{
    height: 150px;
  }
  &__item{
    height: 150px;
    width: 200px;
  }
  &__img{
    height: 50px;
    width: 80px;
  }
  &__textbox{
    height: 100px;
    width: 150px;
  }
  &__title{
    font-size: 14px;
    line-height: 15px;
  }
  &__text{
    height: 70px;
    width: 150px;
    font-size: 10px;
    line-height: 10px;
  }
}