.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  &__item{
    width: 175px;
    height: 55px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
  }

  &__link{
    margin-left: 20px;
    color: #808191;
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  &__link:hover{
    color: #fff;
  }
  &__item:hover{
    color: #fff;
    background-color: #2F3CED;
    border-radius: 0px 12px 12px 0px;
  }
}
.menu-box{
  position: relative; 
  // max-width: 260px;
  // min-height: 700px;
  // #FDFDFD;
  background-color: #fffdfd;
  // height = 915px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  &__logo{
    height: 25px;
    width: 105px;
    margin: 50px 43px 60px;
  }
}