.progress{
  display: inline-block;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-start;
  width: 506px;
  background-color: #F5FBFF;
  padding: 70px 38px 0px 24px;
  position: relative;

  &__title{
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin: 0px 0px 24px 39px;
  }
  &__items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 385px;
  }
}
