@import 'fonts';
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
}
*,*::after,*::before{
  box-sizing: inherit;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  // display: inline-block;
  display: flex;
  justify-content: space-between;
}

.wrapper--menu{
  // display: inline-block;
  // height: 100%;
  width: 250px;
  border-right: 1px solid #E4E4E4;
}

.menu-box{
  position: relative; 
  // max-width: 260px;
  // min-height: 700px;
  height: 100%;
  // #FDFDFD;
  background-color: #fffdfd;
  // height = 915px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  &__logo{
    height: 25px;
    width: 105px;
    margin: 50px 43px 60px;
  }
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  &__item{
    width: 175px;
    height: 55px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
  }

  &__link{
    margin-left: 20px;
    color: #808191;
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  &__link:hover{
    color: #fff;
  }
  &__item:hover{
    color: #fff;
    background-color: #2F3CED;
    border-radius: 0px 12px 12px 0px;
  }
}

.wrapper--user{
  position: relative;
  width: 100%;
  min-height: 120px;
  height: 100%;
}

.user{
  position: fixed;
  bottom: 15px;
  // display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  // width: 100%;
  height: 40px;
  font-family: 'Inter-SemiBold', 'Arial', sans-serif;
  margin-left: 20px;
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__name{
    font-size: 14px;
    line-height: 20px;
    color: #11142D;
  }
  &__status{
    font-size: 13px;
    line-height: 18px;
    color: #808191;
  }
  &__btn{
    background-color: transparent;
    background-image: url('../images/user-btn.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    border: none;
  }
}

.content{
  display: inline-block;
  flex-grow: 1;
  min-width: 680px;
  padding-left: 34px;
  padding-right: 24px;
  padding-top: 45px;
  background-color: #f7f4f4;

  &__title{
    font-family: 'Poppins-Medium', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 32px;
  }  
  &__subtitle{
    font-family: 'Poppins-SemiBold', 'Arial', sans-serif;
    font-size: 40px;
    line-height: 48px;
    margin: 10px 0px 30px;
  }
}

.slider{
  position: relative;
  height: 400px;
  width: 625px;
  border-radius: 24px;
  background-color: #2F3CED;
  &__wrapper{
    outline: none;
  }
  &__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 100%;
  }
  &__img{
    display: inline-block;
    background-image: url('../images/slider-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 300px;
  }
  &__textbox{
    display: inline-block;
    width: 200px;
    color: #fff;
  }
  &__title{
    font-family: 'Poppins-SemiBold', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 32px;
  }
  &__text{
    font-family: 'Inter-Regular', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 8px 0px 16px;
  }
  &__btn{
    height: 55px;
    width: 160px;
    background-color: #fff;
    color: #11142D;
    border: none;
    border-radius: 16px;
    text-align: center;
    font-family: 'Inter-Bold', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 380px;
  bottom: 34px;
  .slick-active{
    button{
      border: 2px solid #A0D7E7;
      outline: none;
    }
  }
  button{
    border: none;
    outline: none;
    font-size: 0;
    border-radius: 50%;
    background-color: #fff;
    padding: 0;
    margin: 0px 18px;
    height: 6px;
    width: 6px;
  }
}

.learn{
  margin-top: 40px;
  &__title{
    font-family: 'Inter-Bold', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    height: 35px;
    margin-bottom: 16px;
  }
}

.wrapper--card{
  display: flex;
  justify-content: flex-start;
  min-width: 620px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 190px;
  min-height: 190px;
  margin-bottom: 30px;
  background-color: #FFF;
  border-radius: 24px;
  margin-right: 20px;
  &__content{
    margin: 0 auto;
  }
  &__title{
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 20px;
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 80px;
    margin: 8px 0px 16px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165px;
  }
  &__box-img{
    position: relative;
    width: 84px;
  }
  &__box-btn{
    height: 16px;
    width: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.info{
  &__timing{
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #808191;
  }
  &__count{
    font-family: 'OpenSans-Regular', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.box-img{
  &__item {
    height: 24px;
    width: 24px;
  }
  &__item:nth-child(2){
    position: absolute;
    left: 12px;
  }
  &__item:nth-child(3){
    position: absolute;
    left: 24px;
  }
  &__item:nth-child(4){
    position: absolute;
    left: 36px;
  }
  &__item:nth-child(5){
    position: absolute;
    left: 48px;
  }
  &__item:nth-child(6){
    position: absolute;
    left: 60px;
  }
}

.box-btn{
  &__star{
    background-color: transparent;
    border: none;
    height: 16px;
    width: 16px;
    background-image: url('../images/card-star.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__dots{
    background-color: transparent;
    border: none;
    height: 5px;
    width: 13px;
    background-image: url('../images/card-dots.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.progress{
  display: inline-block;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-start;
  width: 506px;
  background-color: #F5FBFF;
  padding: 0px 38px 0px 24px;
  position: relative;

  &__title{
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin: 0px 0px 24px 39px;
  }
  &__items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 385px;
  }
}

.search{
  position: relative;
  &::before{
    content: url('../images/progress-search.svg');
    position: absolute;
    top: 64px;
    left: 5px;
    height: 20px;
    width: 20px;
  }
  &__input{
    height: 24px;
    width: 55px;
    margin: 64px 0px 100px 39px;
    border: none;
    background-color: transparent;
  }
  &__input::placeholder{
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #808191;
  }
}

.push{
  &__box-btn{
    position: absolute;
    top: 48px;
    right: 72px;
    display: inline-block;
  }
  &__btn{
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    background-image: url('../images/progress-bell.svg');
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 12px 35px -13px #000;
  }
  &__count{
    border-radius: 50%;
    background-color: #FF754C;
    position: absolute;
    top: 0px;
    right: -13px;
    height: 24px;
    width: 24px;
    padding: 4px 8px;
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
  }
}

.subject{
  &__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 380px;
    height: 84px;
    border-radius: 16px;
    background-color: #fff;
  }
  &__img{
    border-radius: 16px;
    height: 56px;
    width: 56px;
  }
  &__img--first{
    background-color: #FFA2C0;
  }
  &__img--second{
    background-color: #FFCE73;
  }
  &__img--third{
    background-color: #A0D7E7;
  }
  &__img--fourth{
    background-color: #B2E2D7;
  }
  &__icon{
    height: 50px;
    width: 50px;
    padding: 12px;
    display: block;
    margin: 0 auto;
  }
  &__textbox{
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-weight: 600;
    line-height: 18px;
    max-width: 235px;
    width: 100%;
  }
  &__title{
    font-size: 16px;
    color: #11142D;
  }
  &__subtitle{
    font-size: 13px;
    color: #808191;
  }
  &__btn{
    align-self: flex-start;
    margin-top: 25px;
    border: none;
    padding: 0;
    background-color: #fff;
    height: 18px;
    width: 16px;
    background-image: url('../images/progress-btn.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.graph{
  &__title{
    font-family: 'Inter-Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    margin-top: 53px;
    margin-bottom: 16px;
  }
}