@import 'fonts';
html,body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
}
*,*::after,*::before{
  box-sizing: inherit;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.container{
  // width: 100%;
  // height: 100%;
  display: flex;
  justify-content: space-between;
  // height: max-content;
}
.wrapper{
  position: relative;
  &--menu{
    // position: absolute;
    width: 250px;
    // height: 520px;
    border-right: 1px solid #E4E4E4;
  }
  &--search{
    position: absolute;
    top: 20px;
    right: 0px;
    margin-right: 365px;
    // right: 400px;
    z-index: 99;
    // width: 54px;
    // height: 24px;
  }
  // &--user{
  //   position: relative;
  //   width: 200px;
  //   min-height: 120px;
  //   height: 100%;
  // }
  &--card{
    display: flex;
    justify-content: flex-start;
    // min-width: 620px;
    width: 620px
  }
}


@import 'search';
@import 'menu';
@import 'user';
@import 'content-slider';
@import 'card';
@import 'progress-search';
@import 'subject';
@import 'graph';

@import 'media-320';
