.subject{
  &__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 380px;
    height: 84px;
    border-radius: 16px;
    background-color: #fff;
  }
  &__img{
    border-radius: 16px;
    height: 56px;
    width: 56px;
  }
  &__img--first{
    background-color: #FFA2C0;
  }
  &__img--second{
    background-color: #FFCE73;
  }
  &__img--third{
    background-color: #A0D7E7;
  }
  &__img--fourth{
    background-color: #B2E2D7;
  }
  &__icon{
    height: 50px;
    width: 50px;
    padding: 12px;
    display: block;
    margin: 0 auto;
  }
  &__textbox{
    font-family: 'Inter-SemiBold', 'Arial', sans-serif;
    font-weight: 600;
    line-height: 18px;
    max-width: 235px;
    width: 100%;
  }
  &__title{
    font-size: 16px;
    color: #11142D;
  }
  &__subtitle{
    font-size: 13px;
    color: #808191;
  }
  &__btn{
    align-self: flex-start;
    margin-top: 25px;
    border: none;
    padding: 0;
    background-color: #fff;
    height: 18px;
    width: 16px;
    background-image: url('../images/progress-btn.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}